.section {
  position: relative;
  z-index: 2;
  background: var(--COLOR_GREY_1);
  padding-top: calc(var(--NAVIGATION_HEIGHT) + 40px);
  padding-bottom: 40px;
  min-height: 100vh;
}
@media (min-width: 1024px) {
  .section {
    padding-top: calc(var(--NAVIGATION_HEIGHT) + 80px);
    padding-bottom: 80px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--COLOR_WHITE);
  margin-inline: auto;
}
@media (min-width: 1024px) {
  .title {
    font-size: 32px;
    white-space: pre-line;
  }
}

.text {
  font-size: 20px;
  font-weight: 400;
  color: var(--COLOR_WHITE);
  line-height: 160%;
}
