.container {
  position: relative;
  height: 56px;
}

.input {
  position: absolute;
  inset: 0;
  outline: none;
  background-color: var(--COLOR_WHITE);
  border: 2px solid var(--COLOR_GREY_2);
  padding: 0 16px;
  border-radius: 4px;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  color: var(--COLOR_BLACK);
  line-height: 160%;
}

.input::placeholder {
  font-size: 20px;
  font-weight: 400;
  color: var(--COLOR_GREY_1);
  line-height: 160%;
}

.input:focus {
  border: 2px solid var(--COLOR_GREY_1);
}

.message {
  position: absolute;
  bottom: -24px;
  left: 0;
  z-index: 1;
  font-size: 14px;
  font-weight: 400;
  color: var(--COLOR_RED);
  line-height: 160%;
}
