.section {
  position: relative;
  z-index: 2;
  background: var(--COLOR_GREY_1);
  padding-top: calc(var(--NAVIGATION_HEIGHT) + 140px);
  padding-bottom: 40px;
}
@media (min-width: 1024px) {
  .section {
    padding-top: calc(var(--NAVIGATION_HEIGHT) + 120px);
    padding-bottom: 80px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}
@media (min-width: 1024px) {
  .wrapper {
    flex-direction: row;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  z-index: 2;
}
@media (min-width: 1024px) {
  .content {
    flex: 1 1 50%;
    gap: 32px;
  }
}

.title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--COLOR_WHITE);
}
@media (min-width: 1024px) {
  .title {
    font-size: 32px;
    white-space: pre-line;
  }
}

.text {
  font-size: 20px;
  font-weight: 400;
  color: var(--COLOR_WHITE);
  line-height: 160%;
}
@media (min-width: 1024px) {
  .text {
    white-space: pre-line;
  }
}

.button {
  margin-top: 40px;
}
@media (min-width: 1024px) {
  .button {
    margin-top: auto;
  }
}

.images {
  position: relative;
  height: 165px;
}
@media (min-width: 560px) {
  .images {
    height: 386px;
  }
}
@media (min-width: 1024px) {
  .images {
    height: auto;
    flex: 1 1 50%;
  }
}

.imageBox {
  position: absolute;
  aspect-ratio: 2/3;
  width: 100%;
  z-index: 2;
}
@media (min-width: 560px) {
  .imageBox {
    position: absolute;
    aspect-ratio: 2/3;
    width: 100%;
  }
}

.imageBox:nth-child(1) {
  top: -137px;
  left: 93px;
  max-width: 210px;
}
@media (min-width: 560px) {
  .imageBox:nth-child(1) {
    top: -137px;
    left: 125px;
    max-width: 380px;
  }
}

.imageBox:nth-child(2) {
  max-width: 210px;
  top: -140px;
  left: 55px;
}
@media (min-width: 560px) {
  .imageBox:nth-child(2) {
    max-width: 360px;
    top: -140px;
    left: 70px;
  }
}

.imageBox:nth-child(3) {
  display: none;
}
@media (min-width: 768px) {
  .imageBox:nth-child(3) {
    display: block;
    opacity: 0.8;
    z-index: 1;
    max-width: 340px;
    top: -124px;
    left: 220px;
  }
}

.imageBox:nth-child(4) {
  display: none;
}
@media (min-width: 768px) {
  .imageBox:nth-child(4) {
    display: block;
    filter: grayscale(1);
    z-index: 1;
    max-width: 340px;
    top: -80px;
    opacity: 0.5;
    left: 0px;
  }
}

.icons {
  display: none;
}
@media (min-width: 1024px) {
  .icons {
    display: contents;
  }
}

.icon {
  position: absolute;

  z-index: 1;
  opacity: 0.3;
}
.icon:nth-child(1) {
  top: 100px;
  right: 4px;
  animation: rounds 100s linear infinite;
}
.icon:nth-child(2) {
  top: 200px;
  right: 31px;
  animation: rounds-reverse 80s linear infinite;
}
.icon:nth-child(3) {
  top: 105px;
  right: 180px;
  animation: rounds-reverse 120s linear infinite;
}

@keyframes rounds {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

@keyframes rounds-reverse {
  0% {
    rotate: 360deg;
  }
  100% {
    rotate: 0deg;
  }
}
