.section {
  position: relative;
  z-index: 2;
  background: var(--COLOR_GREY_1);
  padding-top: calc(var(--NAVIGATION_HEIGHT) + 40px);
  padding-bottom: 40px;
}
@media (min-width: 1024px) {
  .section {
    padding-top: calc(var(--NAVIGATION_HEIGHT) + 80px);
    padding-bottom: 80px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}
@media (min-width: 1024px) {
  .wrapper {
    flex-direction: row;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  z-index: 2;
}
@media (min-width: 1024px) {
  .content {
    flex: 1 1 50%;
    gap: 32px;
  }
}

.title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--COLOR_WHITE);
}
@media (min-width: 1024px) {
  .title {
    font-size: 32px;
    white-space: pre-line;
  }
}

.text {
  font-size: 20px;
  font-weight: 400;
  color: var(--COLOR_WHITE);
  line-height: 160%;
}
@media (min-width: 1024px) {
  .text {
    white-space: pre-line;
  }
}

.button {
  margin-top: 40px;
}
@media (min-width: 1024px) {
  .button {
    margin-top: auto;
  }
}

.video {
  aspect-ratio: 16/9;
}
@media (min-width: 1024px) {
  .video {
    flex: 1 1 50%;
  }
}

.icons {
  display: none;
}
@media (min-width: 1024px) {
  .icons {
    display: contents;
  }
}

.icon {
  position: absolute;

  z-index: 1;
  opacity: 0.3;
}
.icon:nth-child(1) {
  top: 100px;
  right: 4px;
  animation: rounds 100s linear infinite;
}
.icon:nth-child(2) {
  top: 200px;
  right: 31px;
  animation: rounds-reverse 80s linear infinite;
}
.icon:nth-child(3) {
  top: 105px;
  right: 180px;
  animation: rounds-reverse 120s linear infinite;
}

@keyframes rounds {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

@keyframes rounds-reverse {
  0% {
    rotate: 360deg;
  }
  100% {
    rotate: 0deg;
  }
}
